<html>
	<head>
		<meta charset="utf-8">
		<title>My Blog</title>
        <link rel="stylesheet" href="/styles/main.css">
        <link rel="stylesheet" href="/styles/create.css">

	<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1, maximum-scale=1, user-scalable=no" />
	</head>

	<body>
		<header class="header">
			<nav class="nav">
			<div class="logo">
				<h3>the simple blog</h3>
			</div>
				<ul>
					<li><a href="/">Home</a></li>
					<li><a href="/create">Create</a></li>
					<li><a href="/about">About</a></li>
				</ul>
			</nav>
		</header>
		<div class="container">
             
			<form action="/post/edit/<%=post[0].id%> " method="POST">
				<input type="text" name="title" placeholder="Title" value="<%=post[0].title%>">
				<textarea type="text" name="content" placeholder="Content"><%=post[0].content%></textarea>
				<input type="text" name="category" placeholder="Category" value="<%=post[0].category%>">
				<input type="text" name="author" placeholder="Author" value="<%=post[0].author%>">
				<button type="submit" class="default-btn">Save</button>
			</form>

		</div>
	<script src="/scripts/script.js"></script>
	</body>
</html>
